      <!-- Início da coluna do Perfil -->
      <div class="col-sm-3 p-0 ">
       <div class="border rounded-top-penochao rounded-bottom-penochao">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <!-- Banner Profile-->
                <div>
                    <img class="rounded-top-penochao bg-profile" src="/images/gramado-bkg.png">
                </div>
              </div>
        </div>
        <div class="row ">
            <div class="col d-flex justify-content-center mb-2">
                <!-- Foto profile -->
                <% if(jogadorLogado.path == null) { jogadorLogado.path="avatarLogado.jpg"} %>
                <div class="foto-perfil"  style="background-image: url('/images/midias/<%=jogadorLogado.path%>');">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row ">
            <div class="col p-0">
              <!--  aqui renderiza nome do jogador logado   jogador.nome esta vindo do res.locals.jogador
               da pasta configs/auth  -->
               
                <h5 class="text-center"><%= jogadorLogado.nome %></h5>

                <p class="text-center"><%= jogadorLogado.posicaoJogador %></p>
              <% let frase; let action;console.log("NOME:" +  jogadorLogado.nome + ", TIME: " + jogadorLogado.times_id); if(jogadorLogado.times_id) { frase = "Edite seu time"; action = "editarTime/" + jogadorLogado.times_id ; console.log(action) } else { frase = "Seja um Capitão!"; action = "cadastroTime" } %>

              <hr>

              <div class="row justify-content-center mb-3">
                <a class="col-9 btn-form m-0 d-flex justify-content-between" href="/<%= action %>">
                  <img src="/images/faixa.png" alt="Seja um Capitão" class="btn-icon mt-1 mb-1">
                  <p class="text-center mt-2 mb-2" ><%= frase %></p>
                </a>
              </div>
              <div class="row row justify-content-center mb-3">
                <a class="col-9 btn-form m-0" href="/atualizar" style="color:black">
                  <p class="text-center mt-2 mb-2" >Editar Perfil</p>
                </a>
              </div>
                <!-- <h5 class="text-center">Estatísticas</h5> -->
            </div>
          </div>
          <!--- estatistas em partilas -->
        </div>
      </div> 
      </div>
      <!-- Fim da coluna do Perfil -->