<!-- Início da coluna do feed -->
<div class="col-sm-6 col-feed">
  <div class="container bg-feed border border-penochao-mobile rounded-top-penochao rounded-bottom-penochao">
    <form action="/atleta" method="POST" enctype="multipart/form-data">
      <div class="row mx-0 my-3 rounded-penochao">
        <div class="col-10 my-2 py-3 bg-white rounded-left-penochao">
          <div class="">
            <input name="descricao" type="text" required class="form-control form-control-lg input-penochao-border"
              placeholder="Hora da resenha">
          </div>
        </div>

        <div class="col-2 my-2 rounded-right-penochao   justify-content-center align-items-center">
          <!-- <img class="botaoCameraPublicar m-2" src="/images/cam2Mini.PNG"> -->
          <input id="r" name="foto" type="file">
          <label id="l" for="r"></label>

          <button type="submit" class="botaoPublicar">Publicar</button>
        </div>
      </div>
    </form>


    <% if (publications) { %>
    <% publications.reverse(); publications.forEach(publication => { %>
    <div class="row mx-2 my-2 bg-white rounded-penochao">
      <div class="col-12 ">

        <!-- Inicio parte inferior  do time line -->

        <div class="d-flex-in    my-3  ">
          <div class="d-flex ">
            <div class="d-flex ">
              <a href="#">
                <img src="/images/foto-perfil.jpg" class="rounded-circle" width="20px" height="20px"
                  alt="Foto perfil"></a>
            </div>

            <div class=" d-flex-column align-items-center col-sm-6">
              <a href="">
                <h6 class="text-1 my-1">Caio da silva</h6>
              </a>
              <h6 class="text-1  ">Zagueiro</h6>
            </div>

            <div class=" ml-auto">
              <button class="d-button" type="submit">
                <h6 class=" text-1">Deixar de seguir </h6>
              </button>
            </div>

          </div>
          <div>
            <h6 class="  my-1"><%=publication.descricao %></h6>
          </div>

          <!--  Inicio conteudo centro container -->
          <div class="d-flex">
            <a href="#"><img src="/images/<%=publication.path%>" class="card-img " alt="Foto Post"></a>
          </div>
          <!--  fim conteudo centro container -->
          <!-- Inicio imagens para curtir pagina -->
          <div class="d-flex ">
            <div>
              <button class="d-button" type="submit"> <i class="fas fa-futbol ml-3 "> </i></button>


            </div>
            <div class="flex-shrink-1 ml-2">
              <h6 class=".d_text1">11</h6>
            </div>
            <div>
              <button class="d-button"> <i class="far fa-comment ml-2"> </i></button>
            </div>
            <div class=" flex-grow-1  ml-2 ">
              <h6 class=".d_text1">11</h6>
            </div>
            <div class="flex-shrink-1   ml-2 ">
              <h6 class="text-1"> <%= moment(publication.create_at).format('DD/MM/YYYY') %></h6>
            </div>
          </div>
          <!-- Fim imagens para curtir pagina -->
          <!-- Inicio comentarios  -->
          <div class="d-flex  ml-2  ">
            <a href="#">
              <img src="/images/foto-perfil.jpg" class="rounded-circle" width="30px" height="30px" alt="Foto Perfil">
            </a>
            <div class="d-flex-column ">
              <div class="d-flex-column">
                <a href="">
                  <h6 class="card-text my-1 text-1">Caio da silva</h6>
                </a>
                <h6 class="card-text my-1 text-2 ">Zagueiro</h6>
                <h6 class="  my-1">comentarios do post </h6>
                <p class=" card-text text-3 my-1">05/04/2020 10:30 </p>
                <form action="/atleta/comentario" method="POST">
                  <div class="postClass">
                    <input type="hidden" name="postagens_id" id="postagens_id" value="<%=publication.id%>">
                    <input type="hidden" name="jogador_id" id="jogador_id" value="<%=jogador.id%>">
                    <textarea name="descricao"  placeholder="Deixe seu comentario " id="descricao" cols="20"rows=""></textarea>
                    <button type="submit">Comentar</button>
                  </div>
                </form>

              </div>




            </div>


          </div>


          <!-- Fim comentarios  -->

        </div>


      </div>
      <!-- Fim da coluna do feed -->
    </div>
    <% } ); %>

    <% } %>

  </div>
</div>
<!-- Fim da coluna do feed -->