<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head') %>  

    <title>Times-PéNoChão</title>
</head>

<body>

<!-- Header Logada-->
<%- include('partials/headerCadastro') %>

<main class="conteiner   ">
      <div class="d-flex justify-content-center  col-12 " >
    <div class="  col-12 col-sm-6 my-5 "   > 
        <div class="input-group ">
          <input class="form-control " type="search" placeholder="Pesquisar" aria-label="Search" >
          <div class="input-group-append">
            <div class="input-group-text" >
                <img src="/images/pesquisa.png" alt="Icon Pesquisa">
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!-- Teste -->
<div class="container ">
<div id="listaDeNoticias " class="row d-flex justify-content-center">
<% times.forEach(time => { %>

    <div class="card col-lg-9 col-12 mx-2 my-2 p-0" id="#cabeca">
        <div class="card-header d-flex justify-content-between bg-white"  id="" >
            <% time.MidiasTimes.forEach(midia => { %>
                <% console.log("aqui: " + midia.path) %>
                <img class=" " src="/images/<%= midia.path %>" width="80px" height="80px" alt="">
            <% }); %>
            <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#<%= time.id %>">
            <h5 class=" pr-5"><%= time.nome %></h5>  
            
            </button>    
            <i class="fas fa-angle-down" data-toggle="collapse" data-target="#<%= time.id %>"></i>
            
                
            
        </div>
        
        <div id="<%= time.id %>" class="collapse" >
            <div class=" text-center border-light  ">
                <table class="table table-borderless  my-1  " id="tabela">
                    <tbody class="my-1">
                        <tr>
                            <td scope="row"><a href="times/<%=time.id %>/ingressar">Jogar pelo time</a></td> 
                        </tr>
                        <tr >
                            <td scope="row " ><h6 class="textTabela">Nº</h6> </td>
                            <td scope="row"><h5 class="textTabela">Posição</h5></td>
                            <td scope="row"><h5 class="textTabela">Nome</h5></td>
                        </tr>
                        
                        <% time.Jogadors.forEach(jogador => { %>
                        <tr>
                            <td scope="row"><%= jogador.id %></td>
                            <td scope="row"><%= jogador.posicaoJogador %></td>
                            <td scope="row"><%= jogador.nome %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table> 
            </div>
            
        </div>
    </div>


    
<% }); %>
</div>
</div>
<!-- Fim Teste -->

    

</main>

<div>
    <br><br><br><br><br><br>
</div>

</body>
<!-- Footer -->
<%- include('partials/footer') %> 
</html>